@charset "utf-8";
img:hover {
	opacity: 0.5 ;
}

body{
  margin:0;
  padding:0;
  -webkit-text-size-adjust: 100%;
  background-color:#957255;
}

img{
  border:0;
  }

  h1,h2,#aside li{
    font-family: monospace;
    font-weight: normal;
    text-align: center;
  }
  
  h1{
    margin:20px auto 0;
    width:60%;
    font-size: 24px;
    border-bottom: 6px double #000;
    
  }
  
  h2{
    margin:0;
    padding-top:5px;
   height: 75px;
   line-height: 75px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  h2::before{
    content: '=';
  }

  h2::after{
    content: '=';
  }

  p,li {
    font-family: Arial, Helvetica, sans-serif;
  }

  ul{
    margin:0;
    padding:0;
  }

  a{
    color:#000;
    text-decoration: none;
  }

  #main p::first-letter{
    color: blue;
    font-size: 200%;
     }

   #main .sub-main{
    position: relative;
    overflow: hidden;
   }  

   #main .sub-main p{
    position: absolute;
    top: 20px;/*画像の左上に配置*/
    right: -55px;
    margin: 0; /*余計な隙間を除く*/
    width: 250px;
    padding: 5px;
    text-align: center;
    box-shadow: 0 1px 3px #999;
    color: white;/*文字を白に*/
    background: skyblue;/*背景色*/
    font-size: 15px;
    line-height: 1;/*行高は1に*/
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
     }

     /*ulに指定した場合の例*
     img.main-image{
      position: relative;
      overflow: hidden;
      }

      img.main-image::after{
    position:absolute;
    background: darkorange;
    content: "Enjoy Adrib life";
    top: 5px;
    right: -60px;
    padding: 5px;
    text-align: center;
    color: floralwhite;
    width: 120px;
    box-shadow: 0 1px 3px #999;
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
  }
  /

 


  /**/
  #header{
    margin-top:2px;
    font-size: 12px;
    line-height: 1;
    text-align: center;
    overflow: hidden;
  }

  #header img{
    float:left;
    
      }

  #footer{
    height:2.5em;
    background: #000;
    color:#fff;
    font-size: 12px;
    line-height: 2.5em;
    text-align: center;
  }
  
  #main{
    margin-top:1em;
     }
  
   .main-image{
      width:100%;
      height: auto;

       }
       
  #main h2:first-of-type{
    margin:20px;
    padding-top:5px;
    background: #ccc;
    background-size: auto;
  }
 
  #main ul{
  border-bottom: 1px solid #ccc;
  }


  #main li{
    height:100%;
    padding-right: 34px;
    background: cyan;
    background-size: 24px;
    border: darkorange;
    border-bottom: none;
    list-style: none;
    overflow:hidden;
  }

  #main li img{
    float:left;
  }

  #main li h3{
    margin:10px 0 0 110px;
    font-size:16px;
  }

  #main li p{
    margin:5px 0 0 110px;
    font-size:12px;
    line-height: 1.5;
  }
  
  #nav{
    padding-bottom: 2em;
    background: #957255;
    background-size: 16px;
  }
  
  #nav ul{
    overflow:hidden;
  }

  #nav li{
    width: 100%;
    text-align:center;
    list-style: none;
  }

   #nav li a{
    display: block;
    margin-left: auto;
    margin-right: auto;
  margin: 0 auto 10px;
  width: 50%;
  height: 94px;
  line-height: 94px;
  background:#bff;
border:1px solid #ccc;
-webkit-border-radius:5px;
border-radius: 5px;
-webkit-box-shadow:0 1px 3px rgba(0,0,0,.2);
box-shadow:0 1px 3px rgba(0,0,0,.2);
color: #957255;

  }

  /*tabs*/

  #aside{
    padding: 0;
    background: #ff1;
    background-size: 16px;
    -webkit-border-radius:0;
    border-radius: 0;
    font-size: 14px;
    overflow: hidden;
  }

  #aside p{
    display: inline;
    line-height: 1.5;
      }
 
  .ul-widget-content{
    border: 0;
      }

    .ul-widget-header{
    border: 0;
    border-bottom: 1px solid #ccc;
    -webkit-border-radius:0;
    border-radius:0;
    background: none;
      }
  
   
      .ui-tabs .ui-tabs-panel{
        background: #fff;
          }

/* Layout */
@media (max-width: 360px) {
  .container {
      max-width: 1080px;
  }
  .container-1200 {
      max-width: 1230px;
}


.container-fluid, .container {
  position: relative;
    width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left:auto;
}

/*carousel*/
.carousel__item--store .carousel__title p {
	font-size: 1.125rem;
}
.carousel__item--store .carousel__title h4 {
	font-size: 1.5rem;
}
}

/* Home */
.bx-wrapper {
	z-index: 2;
}
.bx-viewport {
	overflow: visible!important;
}
.bx-wrapper .bx-controls-direction a {
    outline: 0;
    background: none;
	background-color: #666;
	text-indent: 0;
	text-align: center;
	color: #fff;
    line-height: 32px;
	border-radius: 50%;
}
.bx-wrapper .bx-controls-direction a i.fa {
	line-height: 1;
}
.bx-wrapper .bx-prev {
    left: 0;
}
.bx-wrapper .bx-next {
    right: 0;
}
@media (min-width: 768px) {
	.bx-viewport ,
	.slider li {
		width: 480px!important;
	}
		.bx-viewport ,
	.slider li.no2 {
		width: 350px!important;
	}
	.bx-wrapper .bx-controls-direction a {
		margin-top: -30px;
		width: 60px;
		height: 60px;
		line-height: 55px;
		font-size: 3rem;
	}
	.bx-wrapper .bx-prev {
		left: 30px;
	}
	.bx-wrapper .bx-next {
		right: 30px;
	}
	.bx-wrapper .bx-controls-direction a.bx-prev {
		text-indent: -.25rem;
	}
	.bx-wrapper .bx-controls-direction a.bx-next {
		text-indent: .25rem;
	}
}
.keyvisual {
	min-height: 100vh;
	position: relative;
}
.keyvisual>.scroll-area {
	overflow: hidden;
	position: absolute;
	bottom:0;
	left:0;
	right: 0;
	height:100px;
	background-color:#fff;
	text-align: center;
	color:#000;
	letter-spacing: 0.1em;
	font-size:2rem;
	padding-top: 10px;
}
.front__important .title {
	background-color: #333;
}
.front__important .title h3 {
	color:#fff;
	font-size:2rem;
	padding:1rem;
}
.front__important .content {
	background-color: #bebebe;
	margin-top:0;
	padding:2rem 0;
}
.front__important .content .container {
	background-color: #fff;
	padding:2rem;
}
.front__important .content .container strong {
	font-size: 1.375rem;
}
.front__concept{
	background: #fff url("../img/front-concept-back.png") center no-repeat;
	padding-top:3rem;
	padding-bottom:3rem;
	background-color: rgba(255,255,255,0.3);
	background-blend-mode: lighten;
}
.front__concept .title {
	text-align: center;
}
.front__concept .title>* {
	display: inline-block;
	vertical-align: middle;
}
.front__concept .title h3 {
	color:#f8b500;
	font-size: 2rem;
	font-weight: 700;
	letter-spacing: 0.075em;
}
.front__concept .title h3 + p {
	margin-left: 1rem;
}
@media (min-width: 768px) {
	.front__important .title h3 {
		font-size:3rem;
	}
	.front__concept{
		padding-top:200px;
		padding-bottom:200px;
	}
	.front__concept .title {
		margin-bottom:65px;
	}
}
[class^="front__four__section"] {
	position: relative;
	width: 100%;
	overflow: hidden;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
	margin-top:2rem;
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
	/*border:1px solid rgba(0,0,0,0.45);
	border-width: 1px 0;*/
}
[class^="front__four__section"]>* {
	position: relative;
	width: 100%;
}
.front__four__item {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.front__four__item--wrap {
	padding: 2rem 1rem;
}
[class^="front__four__section"]>.images {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
	background-color: #000;
}
[class^="front__four__section"]>.images img {
    opacity: 0.75;
}
.front__four__item--title {
	text-align: center;
}
.front__four__item--title h3 {
	text-indent: 0.1em;
	letter-spacing: 0.1em;
	font-size:2rem;
	margin-bottom: 1.25rem;
	font-weight: 700;
}
.front__four__item--title p {
	text-indent: 0.05em;
	letter-spacing: 0.05em;
	font-size:1.125rem;
	margin-bottom: 1.5rem;
}
.front__four__item--wrap .btn {
	margin-top: 1rem;
	text-align: center;
}
.front__four__item--wrap .btn a {
	padding-left:3rem;
	padding-right: 3rem;
	border-radius: .5rem;
}
@media (min-width: 768px) {
	[class^="front__four__section"] {
		-ms-flex-align: center;
		align-items: center;
		margin-top:80px;
	}
	.front__four__item--wrap {
		padding: 1rem;
	}
	.front__four__item ,
	[class^="front__four__section"]>.images {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}
	.front__four__section1>.front__four__item ,
	.front__four__section3>.front__four__item {
		-ms-flex-order: 2;
		order: 2;
	}
	.front__four__section2>.front__four__item ,
	.front__four__section4>.front__four__item {
		-ms-flex-order: 3;
		order: 3;
	}
	.front__four__section1>.images:nth-of-type(1) ,
	.front__four__section3>.images:nth-of-type(1) {
		-ms-flex-order: 1;
		order: 1;
	}
	.front__four__section1>.images:nth-of-type(2) ,
	.front__four__section3>.images:nth-of-type(2) {
		-ms-flex-order: 3;
		order: 3;
	}
	[class^="front__four__section"]>.images:nth-of-type(3) {
		-ms-flex-order: 4;
		order: 4;
	}
	.front__four__item--title h3 {
		text-indent: 0.2em;
		letter-spacing: 0.2em;
		font-size:2.5rem;
		margin-bottom: 1.25rem;
	}
	.front__four__item--title p {
		text-indent: 0.1em;
		letter-spacing: 0.1em;
		font-size:1.375rem;
		margin-bottom: 2rem;
	}
	.front__four__item--wrap .btn {
		margin-top: 2rem;
	}
}
.front__slider__section {
	overflow: hidden;
}
.front__slider__section>.container>.title,
.front__topics>.title {
	margin-top:3rem;
	margin-bottom: 3rem;
}
.front__slider__section>.container>.title h3,
.front__topics>.title h3 {
	margin-bottom: 1rem;
	font-weight: 700;
}
.carousel__item {
	overflow: hidden;
	border-radius: .25rem;
	background-color: #e5ce95;
	position: relative;
}
.carousel__body {
	padding:1rem;
}
.carousel__title p {
	font-weight: 700;
}
.carousel__title h4 {
	line-height: 1.6;
}
.carousel__title p + h4 {
	margin-top:.25rem;
}
.carousel__item--store .carousel__title p {
	font-weight: 400;
	line-height: 1.3;
}
.carousel__item--store .carousel__title h4 {
	font-weight: 700;
	line-height: 1.3;
}
.carousel__item--store .carousel__title h4:before {
	content: '店舗名';
	margin-right: .5rem;
}
.carousel__item--store .carousel__title h4 + p {
	margin-top:.25rem;
}
.carousel__meta {
	margin-top:1rem;
    display: -ms-flexbox;
    display: flex;
	-ms-flex-align: center;
	align-items: center;
}
.carousel__item--store .carousel__title h4:before {
	display: inline-block;
	font-size: 1rem;
	padding:.25rem 1rem;
	border-radius: .25rem;
	background-color: #000;
	color:#fff;
}
.carousel__days {
	display: inline-block;
	font-size: 1rem;
	padding:.45rem 1rem;
	border-radius: .25rem;
	background-color: #000;
	color:#fff;
}
.carousel__hour {
	margin-left: 1rem;
}
.carousel__foot a {
	display: block;
	color:#fff;
	background-color: #d9a229;
	padding:.5rem 1rem;
	font-size: 1.5rem;
	text-align: center;
	text-decoration: none;
}
.carousel__foot a::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    pointer-events: auto;
    content: "";
    background-color: rgba(0, 0, 0, 0);
}
.carousel__foot a:hover:after {
    background-color: rgba(0, 0, 0, 0.3);
}
@media (min-width: 768px) {
.front__slider__section>.container>.title h3,
.front__topics>.title h3 {
	font-size: 2.5rem;
	margin-bottom: 2rem;
}
.front__slider__section>.container>.title p,
.front__signal>.container>.title p {
	font-size: 1.375rem;
}
.front__topics>.title p {
	font-size: 1.875rem;
}
.front__slider__section>.container>.title,
.front__topics>.title {
	margin-top:240px;
	margin-bottom: 70px;
}
.carousel__title {
	height: 5rem;
}
.carousel__title p {
	font-size: 1.5rem;
}
.carousel__title h4 {
	font-size: 1.125rem;
}
.carousel__item--store .carousel__title p {
	font-size: 1.125rem;
}
.carousel__item--store .carousel__title h4 {
	font-size: 1.5rem;
}
}
.front__topics {
	margin-bottom:2rem;
}
.topics__list li {
	padding:.75rem;
	background-color: #eee;
	border-radius: .25rem;
	position: relative;
	overflow: hidden;

}
.topics__list li + li {
	margin-top:.5rem;
}
.topics__list li>* {
	display: inline-block;
}
.topics__list--days {
	margin-right: 1rem;
	text-align: center;
}
.topics__list--cate {
	text-align: center;
	padding:.5rem 1rem;
	color:#fff;
	margin-right: 1rem;
}
.topics__list--cate_new {
	background-color: #ffd700;
}
.topics__list--cate_media {
	background-color: #f09199;
}
.topics__list--title {
	line-height: 1.5;
}
.topics__list--title a::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    pointer-events: auto;
    content: "";
    background-color: rgba(0, 0, 0, 0);
}
.topics__list--title a:hover:after {
    background-color: rgba(0, 0, 0, 0.3);
}
@media (min-width: 768px) {
.front__topics {
	margin-bottom:200px;
}
.topics__list li {
	padding:1.75rem;
    display: -ms-flexbox;
    display: flex;
	-ms-flex-align: center;
	align-items: center;
	font-size: 1.5rem;
}
.topics__list li + li {
	margin-top:2rem;
}
.topics__list--days {
	min-width:10rem;
	width:10rem;
}
.topics__list--cate {
	min-width:10rem;
	width:10rem;
}
}
.front__signal {
	background-color: #ccc;
	padding-top:2rem;
	padding-bottom:2rem;
}
.front__signal>.container>.title ,
.front__signal>.container>.title h3 {
	margin-bottom:2rem;
}
.front__signal--item {
	overflow: hidden;
	background-color:#fff;
	border-radius: .25rem;
	position: relative;
}
.maincontents .front__signal--item {
	border: 1px solid #eee;
}
.front__signal--item__new:before {
  border-color: #ffcb00 transparent transparent transparent;
  border-style: solid;
  border-width: 110px 110px 0 0;
  content: "";
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  z-index: 2;
}
.front__signal--item__new:after {
  color: #fff;
  content: "NEW";
  font-size: 1.312rem;
  position: absolute;
  top: 25px;
  left: 15px;
  transform: rotate(-45deg);
  z-index: 3;
}
.front__signal--body {
	padding:1rem;
}
.front__signal--body h4 {
	line-height: 1.3;
	font-weight: 700;
}
.front__signal--body p.text {
	color:#666;
}
@media (min-width: 768px) {
	.front__signal {
		padding-top:80px;
		padding-bottom:80px;
	}
	.front__signal--item .images img {
		width: 100%;
		max-width: none;
	}
	.front__signal--body h4 {
		font-size: 1.75rem;
		min-height: 6rem;
	}
	.front__signal--body p.text {
		font-size: 1.25rem;
	}
	.front__signal .foot {
		margin-top:3rem;
	}
	.maincontents .front__signal--body h4 {
		font-size: 1.5rem;
	}
	.maincontents .front__signal--body p.text {
		font-size: 1rem;
	}
}

/* Under */

.title-h3 {
	text-align: center;
}
h3.title-deco {
	text-align: center;
	display: inline-block;
	position: relative;
}
h3.title-deco:before,h3.title-deco:after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 45px;
  height: 3px;
  background-color: #142e59;
}
h3.title-deco:before {
  left:-50px;
}
h3.title-deco:after {
  right:-50px;
}
.text-caption {
	color:#142e59;
	letter-spacing: 0.1em;
	text-indent: 0.1em;
	margin-top:.5rem;
}
.title-h4 {
    padding-bottom: .5rem;
    position: relative;
}
.title-h4:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: -webkit-repeating-linear-gradient(-45deg, #111, #111 2px, #fff 2px, #fff 4px);
  background: repeating-linear-gradient(-45deg, #111, #111 2px, #fff 2px, #fff 4px);
}
h5.title-deco {
    padding-left: 1rem;
    border-left: 5px solid #caced1;
}
h6.title-deco:before {color:#111;
}
@media (min-width: 768px) {
h3 {
    font-size: 2.5rem;
}
h4 {
    font-size: 1.75rem;
}
h5 {
    font-size: 1.5rem;
}
h6 {
    font-size: 1.25rem;
}
}
.text-comment {
    background-color: #F5F3D0;
}
.beforeafter .layout-beforeafter-after:after,
.text-point p.lead,
.layout-flowchart-vertical .title>.flowchart__step,
.text-quotation,
.text-quotation-arrow:before {
    background-color: #111;
}
.text-quotation-arrow:after {
    border-top-color:#111;
}
.text-point {
    border: 3px solid #ECF0F1;
}
.text-point p.lead {
	border-radius: 1rem;
}
.panel-faq .panel-heading .accordion-title__icon, .panel-faq .panel-body .accordion-content__icon {
	border-radius: 50%;
}.panel-faq .panel-heading .accordion-title__icon {
	border:1px solid #111;
	color:#111;
	background-color: #fff;
}
.panel-faq .panel-body .accordion-content__icon {
    background-color: #111;
}
.tab-nav li.current {
    background-color: #111;
    border-color: #111;
}
.beforeafter .layout-beforeafter-after:before, .layout-flowchart-vertical .box:before, .layout-flowchart-side .col:before {
    color: #111;
}
.beforeafter .layout-beforeafter-before:after {
    background-color: #333;
}
.title-img {
	margin:3rem auto 1.5rem;
	width:100%;
    display: -ms-flexbox;
    display: flex;
	-ms-flex-align: center;
	align-items: center;
	padding-top:.25rem;
	padding-bottom:.25rem;
	border:1px dashed #ccc;
	border-width: 1px 0;
}
.title-img .images {
	margin-right: .5rem;
}
.label__down {
	background-color: #eee;
}
.label__up {
	background-color: #ccc;
}
span.label__up,
span.label__down {
	padding:.25rem 1rem;
	display: inline-block;
	vertical-align: middle;
}
.title-days h4.title-deco {
	width:100%;
}
.title-days .title-days--meta {
	text-align: right;
	white-space: nowrap;
	margin-left:1rem;
}
.title-h5-cate .category,
.title-days--cate {
	padding:.25rem 1rem;
	margin-bottom:.5rem;
	background-color: #f7ca18;
	text-align: center;
}
.list-store li {
	width:100%;
	padding-bottom:.5rem;
	border-bottom:1px dashed #142e59;
}
.list-store li+li {
	margin-top:1rem;
}
.store__list--meta>* {
	display: inline-block;
	vertical-align: middle;
}
.title-h5-cate {
	width:100%;
	padding-bottom:.5rem;
	border-bottom:1px dashed #142e59;
}
.store__price {
	width:100%;
	padding:.5rem;
	border:1px dashed #ccc;
	border-width: 1px 0;
}
.store__list--meta ,
.title-h5-cate .category,
.store__price dd {
	text-align: right;
}
.title-h5-cate .category {
	margin-top: 0.5rem;
	display: inline-block;
	margin-left: auto;
}
.store__price dd {
	color:#e87e04;
}
@media (min-width: 768px) {
.title-days {
	width:100%;
    display: -ms-flexbox;
    display: flex;
	-ms-flex-align: center;
	align-items: center;
}
.list-store li,
.title-h5-cate {
	-ms-flex-align: center;
	align-items: center;
}
.list-store li,
.title-h5-cate,
.store__price {
    display: -ms-flexbox;
    display: flex;
}
.store__list--title ,
.title-h5-cate h5.title-deco ,
	.store__price dt {
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.store__list--meta ,
.title-h5-cate .category,
.store__price dd {
	white-space: nowrap;
	margin-left:1rem;
}
.title-h5-cate .category {
	margin-top: 0;

}
}



/* フェードイン用のCSS */
.slide-bottom {
  opacity: 0;
  transform: translateY(20px);
  transition: all 1.3s 0s ease-out;
}